<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidFundamental"
        tools:targetApi="31">

        <activity
            android:name=".DarkMode.setting"
            android:exported="false"
            android:label="Setting"
            android:parentActivityName=".Main.MainActivity" />
        <activity
            android:name=".Favorite.favoriteActivity"
            android:exported="false"
            android:label="Favorite User"
            android:parentActivityName=".Main.MainActivity" />
        <activity
            android:name=".Detail.Detail"
            android:exported="false"
            android:label="Detail User"
            android:parentActivityName=".Main.MainActivity" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>